# Firebase
FIREBASE_PROJECT_ID=

# Stripe
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_BUY_BUTTON_ID=
APP_URL=

# Gemini AI (Securely accessed on server-side)
GEMINI_API_KEY=
GEMINI_API_KEY2=
GEMINI_API_KEY3=
STRIPE_WEBHOOK_SECRET=
